.my-card{
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    display: inline-block;
}

.my-card img {
    transition: all 0.15s linear;
    position: relative;
    filter: brightness(70%);
}

.my-card .price{
    position: absolute;
    top: 200px;
    left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 20px;
}

.my-card .name{
    position: absolute;
    top: 40px;
    font-family: 'Roboto', cursive!important;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    transition: all 0.15s linear;
}
.my-card:hover .name:hover{
    top: 60px;
}

.my-card img:hover {
    transform: scale(1.2);
    filter: brightness(100%);
}